*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.row-limit-size {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.flex {
    display: flex;
    justify-content: center;
    
}
body {
    font-family: 'Open Sans', sans-serif;
}
header {
    height: 80px;
    background-color: #fff;
}
header figure {
    height: 80px;
}
body>header>nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 10px #ccc;
}
body>header>nav>ul {
    display: flex;
    padding-left: 30px;
    list-style-type: none;
}
body>header>nav>ul>li>a {
    height: 80px;
    line-height: 80px;
    margin-right: 30px;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
}
.rouge {
    color: red;
}
.contact-block {
    height: 20px;
    background-color: red;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}
#image{
    background-image: url(../image/bg-header.webp);
    background-size: cover;
    height: 600px;   
}
body>header>nav>ul {
    display: flex;
    align-items: center;
}

body div p {
    text-transform: uppercase;
}
body>#image>img {
    margin: 0 auto;
    padding: 60px 0;
    display: block;
    justify-content: center;
}
.mauve {
    color: #EBDEF0;
    font-size: 40px;
    font-weight: 750;
    text-align: center;
}
.blancmaj {
    color: #fff;
    font-size: 70px;
    text-align: center;
    line-height: 1.25;
    font-weight: 900;
    padding-bottom: 60px;
}
.blancmin {
    color: #fff;
    font-size: 25px;
    text-transform: none;
    text-align: center;
}

#categories>p:first-child {
    padding-top: 60px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 19px;
    text-align: center;
    font-weight: bolder;
}
.min {
    text-transform: none;
    text-align: center;
}

#categories {
    height: 1500px;
}
.block2 {
    height: 350px;
    width: 380px;
    display: flexbox;
    background-color: #D9D9D9;
    border-radius: 20px;

   }  
.block2>img:first-child{
    height: 178px;
    width: 380px;
    display: flex;
    padding-bottom: 10px;
}
#categories h1 {
    float: right;
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
    padding-right: 100px;
    }
.min2 {
    text-transform: none;
    font-size: 13px;
    padding-left: 55px;
    padding-right: 30px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 35px;
    height: 700px;
    width: 700px;
    margin: 60px auto;
    justify-content: center;    
}
.blockpedagogie {
    height: 800px;
    width: 1300px;
    margin: 0 auto;
}
.blockpedagogie img:first-child {
    float: left;
}

.blockgras {
    text-transform: uppercase;
    font-size: 19px;
    font-weight: bold;
    padding-top: 25px;
}
.blockmaigre {
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: none;
}
.blockpedagogie>ul {
    font-size: 13px;
    list-style-type: square;
}
.block3 {
    height:80px;
    width: 200px;
    display: flex;
    margin-left: 60px;
    
}
.block3>p {
    padding-left: 25px;
}
.block3 p:last-child {
    font-size: 13px;
    text-transform: none;
}
.grisrouge {
    font-size: 19px;
    font-weight: bold;
    color: #D9D9D9;
}





